# Arquivos de dados brutos da ANS (grandes demais para o GitHub)
dados/*.csv

# Arquivos temporários do Jupyter
.ipynb_checkpoints/

# Configurações pessoais do VS Code
*.code-workspace

# Arquivos-trava criados pelo programa de planilhas
.~lock*